<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a routerLink="/home" class="brand-link">{{ appName }}</a>
    </div>
    <div class="navbar-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar-menu" id="navbar-menu">
      @for (link of links(); track link.path) {
        <li class="navbar-item">
          <a
            [routerLink]="link.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: link.exact }"
            class="navbar-link"
            >{{ link.label }}</a
          >
        </li>
      }
      <li class="navbar-item navbar-item--auth">
        @if (isLoggedIn()) {
          <span class="navbar-user" [title]="userEmail()">{{ userEmail() }}</span>
          <button type="button" class="navbar-btn-signout" (click)="signOut()">
            Sign out
          </button>
        } @else {
          <a routerLink="/login" routerLinkActive="active" class="navbar-link">Sign in</a>
        }
      </li>
    </ul>
  </div>
</nav>
